* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  padding: 35px 20px 70px;
  text-align: center;
  background-color: rgba(10, 14, 51, 0.85);
}

.bg-header,
.bg-footer {
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.logo__icon {
  margin-left: -8px;
}

.logo__icon path {
  fill: none;
  stroke: #fff;
}

.logo__icon > path {
  fill: #fff;
}


.main-header__slogan {
  color: #fff;
}

.slogan__first-line,
.slogan__second-line {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;  
  line-height: 1.1;
}

.slogan__second-line {
  margin-top: 18px;
}


.download-btn {
  display: flex;
  justify-content: center;
  width: 32vmin;
  height: 8vmin;
  border: none;
  border-radius: 3.5vmin;
  margin: 0 1.1vmax 0 1.5vmax;
  padding: 0.7% 1% 1%;
  min-height: 8%;
  outline: none;

  background: #5e42b0;
  transition: 0.3s;
}

.download-btns__btn-text-wrapper {
  text-transform: uppercase;
  margin-top: 3.5%;
  width: 51%;
}

.download-btns__ios__icon {
  width: 18%;
  margin-left: -10%;
  margin-right: 10%;
  fill: #fff;
}

.download-btns__android__icon {
  width: 18%;
  margin-right: 10%;
  margin-left: 5%;
  fill: #fff;
}

.download-btns__text-fisrt-line {
  display: block;
  
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: left;
  font-size: 1.3vmin;
}

.download-btns__text-second-line {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: left;
  font-size: 1.5vmin;
}

.athlets__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #e7e7e7;
  text-transform: uppercase;
}

.athlets__stages-group {

}

.athlets__stage:nth-child(2) {
  background: #f5f4f9;
}

.athlets__stage:nth-child(3) {
  background: #5e42b0;
  color: #fff;
  padding-bottom: 40px;
}

.stage__title-wrapper {
  position: relative;
}

.stage__number {
  position: absolute;
  
  border-bottom: 3px solid #5e42b0;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #000;
}

.athlets__stage:nth-child(3) .stage__number {
  border-bottom-color: #fff;
}

.stage__title {
  position: relative;
  padding-left: 2.7rem;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #c1c1c1;
  text-transform: uppercase;
}

.stage__text {
  margin-top: 15px;
  padding-left: 5px;
  
  font-family: 'Open Sans', sans-serif;
}

.players__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #e7e7e7;
  text-transform: uppercase;
}

.players__stage:nth-child(2) {
  background: #f5f4f9;
}

.players__stage:nth-child(3) {
  background: #090c35;
  color: #fff;
}

.players__stage:nth-child(3) .stage__number {
  border-bottom-color: #fff;
  color: #684fb3;
}

.advice__image-be-active,
.advice__image-find-contact,
.advice__image-work-it {
  position: relative; 
}

.advice__text {
  position: relative;
}

.advice__number-wrapper {
  position: absolute;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  
  background: #5e42b0;
}

.advice__number {
  border-bottom: 3px solid #8f7bc8;
}

.text__title { 
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #e7e7e7;
  text-transform: uppercase;
}

.text__content {
  font-family: 'Open Sans', sans-serif;
}

.main-footer {
  position: relative;
  text-align: center;
  background-color: rgba(10, 14, 51, 0.85);
}

.logo-only-icon__icon {
  stroke: #fff;
  fill: none;
  fill-rule: evenodd;
  stroke-linecap: round; 
  stroke-linejoin: round;
  
  background: #6a4bc2;
}

.download-text__first-line {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.download-text__second-line {
  font-family: 'Open Sans', sans-serif;
  color: #9b8ec1;
  text-transform: uppercase;
}



@media (max-width: 640px) {
  html {
    font-size: 62.5%;
  }
  
  .main-header {
    padding-bottom: 72px;
  }
  
  .bg-header {
    background-image: url('../img/football_767.jpg');
    background-size: cover;
  }
  
  .main-header__logo {
    margin-bottom: 128px;
  }

  .logo__icon {
    width: 134px;
    margin-left: -8px;
  }
  
  .main-header__slogan {
    margin-bottom: 85px;
  }
  
  .download-btn {
    width: 86vw;
    height: 11vw;
    margin-bottom: 12px;
    border-radius: 20px;
    padding-left: 20%;
    padding-top: 0;
    margin-left: 0;
  }
  
  .download-btns__btn-text-wrapper {
    margin-top: 1px;
  }
  
  .download-btns__text-fisrt-line {
    font-size: 2.5vw;
  }

  .download-btns__text-second-line {
    font-size: 2.7vw;
  }
  
  .download-btns__ios__icon {
    margin-right: 5px;
    width: 11%;
  }
  
  .download-btns__android__icon {
    margin-right: 5px;
    width: 11%;
    margin-left: -20px;
  }
  
  .slogan__first-line,
  .slogan__second-line {
    letter-spacing: 0.14rem;
    font-size: 8.8vw;
  }
  
  .slogan__second-line {
    margin-left: 15%;
    line-height: 1.2;
  }
  
  .athlets__title::after {
    position: absolute;
    top: 98%;
    bottom: -86vw;
    left: 18%;
    right: 14%;
    
    content: "";
    
    background: url("../img/footballer320.png") no-repeat;
    background-size: contain;
    background-position: center 0;
  }
  
  .athlets__title {
    position: relative;
    padding: 3% 6%;
    margin-bottom: 80vw; 
    font-size: 16vw;
  }
  
  .athlets__stage {
    padding: 12% 17px 54px;
  }
  
  .athlets__stage:nth-child(3) {
    padding: 15% 17px 36px;
  }
  
  .players__title {
    position: relative;
    margin-bottom: 75vw;
    padding: 3% 6%;
    font-size: 16vw;
  }
  
  .players__title::after {
    position: absolute;
    top: 98%;
    bottom: -86vw;
    left: 1%;
    right: 4%;
    
    content: "";
    
    background: url("../img/player320.png") no-repeat;
    background-size: contain;
    background-position: center 0;
  }

  .players__stage {
    padding: 15% 10px 16% 17px;
  }
  
  .player__hidden-text {
    display: none;
  }
  
  .stage__title {
    font-size: 2.9rem;
  }

  .stage__text {
    font-size: 1.55rem;
    line-height: 1.2;
    letter-spacing: 0.7px;
  }
  
  .stage__number {
    font-size: 1.4rem;
    bottom: 10px;
    left: 4px;
  }
  
  .advice__image-be-active,
  .advice__image-find-contact,
  .advice__image-work-it { 
    overflow: hidden;
  }
  
  .advice__number-wrapper {
    top: -35%;
    left: 20px;

    padding: 23px 26px;

    font-size: 1.5rem;
  }

  .advice__number {
    border-bottom-width: 3px;
  }
  
  .advice__text {
    padding: 8vw 40px 30px 20px;
    margin-bottom: 55px;
  }
  
  .advice:nth-child(3) .advice__text {
    padding-bottom: 15px;
  }
  
  .advice__image-find-contact picture,
  .advice__image-work-it picture,
  .advice__image-be-active picture {
    display: flex;
    justify-content: center;
  }

  .text__title { 
    margin-top: -2px;
    font-size: 3.1rem;
  }
  
  .text__content {
    margin-top: 5px;

    font-size: 1.6rem;
    line-height: 1.3;
  }
  
  .main-footer {
    padding: 95px 18px 10px;
  }
  
  .bg-footer {
    background-image: url('../img/game_767.jpg');
    background-size: cover;
  }
  
  .main-footer__logo-only-icon {
    margin-bottom: 45px;
  }
  
  .logo-only-icon__icon {
    padding: 15px 10px;
    width: 25%;
    border-radius: 13px;
  }
  
  .main-footer__download-text {
    margin-bottom: 73px;
  }

  .download-text__first-line {
    font-size: 3.4rem;
  }

  .download-text__second-line {
    font-size: 1.5rem;
  }

  .main-footer__logo {
    margin-top: 80px; 
  }
}



@media (min-width: 641px) and (max-width: 960px) {
  html {
    font-size: 80%;
  }
  
  .main-header {
    padding-top: 2%;
    padding-bottom: 12%;
  }
  
  .bg-header {
    background-image: url('../img/football_1280.jpg');
    background-size: cover;
  }
  
  .main-header__logo {
    margin-bottom: 23%;
  }

  .logo__icon {
    width: 200px;
    margin-top: 20px;
    margin-left: -8px;
  }
  
  .main-header__slogan {
    margin-bottom: 43%;
  }
  
  .slogan__first-line,
  .slogan__second-line {
    letter-spacing: 0.6vw;
  }
  
  .slogan__first-line {
    margin-left: 8.5%;
    font-size: 8vw;
  }
  
  .slogan__second-line {
    margin-left: 23%;
    font-size: 8vw;
  }
  
  .main-header__download-btns {
    display: flex;
    justify-content: center;
  }
  
  .download-btn {
    width: 40vw;
    height: 10vw;
    border-radius: 5vw;
  }
  
  .download-btns__ios__icon {
    width: 16%;
  }

  .download-btns__android__icon {
    width: 16%;
  }

  .download-btns__text-fisrt-line {
    font-size: 1.8vw;
    margin-top: -0.9vw;
  }

  .download-btns__text-second-line {
    font-size: 2vw;
  }
  
  .athlets {
    position: relative;
    
    padding-top: 60px;
    
    background: #fff;
    background-position: center left;
  }
  
  .athlets::after {
    position: absolute;
    top: 10%;
    bottom: 0;
    
    content: "";
    width: 40%;
    
    background: url("../img/footballer768.png") no-repeat;
    background-size: cover;
    background-position: 80% center;
  }

  .athlets__title {
    padding-left: 38%; 
    font-size: 6.3rem;
  }
  
  .athlets__stage {
    padding: 24px 17px 45px 38%;
  }
  
  .players {
    position: relative;
    
    padding-top: 60px;
    
    background: #fff;
    background-position: center left;
  }
  
  .players::after {
    position: absolute;
    top: 6%;
    bottom: 24%;
    right: 0;
    
    content: "";
    width: 55%;
    
    background: url("../img/player768.png") no-repeat;
    background-size: cover;
  }
  
  .players__title {
    padding-left: 30px; 
    font-size: 6.3rem;
  }
  
  .players__stage:nth-child(1) {
    padding: 20px 45% 44px 3.5%;
  }
  
  .players__stage:nth-child(2) {
    padding: 57px 45% 65px 3.5%;
  }
  
  .players__stage:nth-child(3) {
    padding: 47px 45% 45px 3.5%;
  }
  
  .player__hidden-text {
    display: none;
  }
  
  .stage__title {
    font-size: 2.6rem;
  }

  .stage__text {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.3px;
    margin-left: -5px;
  }
  
  .stage__number {
    font-size: 1.5rem;
    bottom: 12px;
    left: 2px;
  }
  
  .advice__image-be-active,
  .advice__image-find-contact,
  .advice__image-work-it { 
    min-height: 580px;
    overflow: hidden;
  }
  
  .advice__number-wrapper {
    top: -30%;
    left: 30px;

    padding: 38px 45px;

    font-size: 1.9rem;
  }

  .advice__number {
    border-bottom-width: 5px;
  }
  
  .advice__text {
    padding: 20px;
    margin-bottom: 65px;
    padding-right: 40px;
  }

  .advice:nth-child(1) .text__title { 
    padding: 40px 7px 10px;
    font-size: 11vw;
  }
  
  .text__title { 
    padding: 30px 7px 5px;
    font-size: 11vw;
  }
  
  .text__content {
    margin-left: 10px;
    padding-bottom: 10px;

    font-size: 2rem;
    line-height: 1.2;
  }
  
  .main-footer {
    margin-top: 75px;
    padding: 125px 18px 10px;

    background-color: rgba(10, 14, 51, 0.85);
  }
  
  .bg-footer {
    background-image: url('../img/game_1280.jpg');
    background-size: cover;
  }
  
  .main-footer__logo-only-icon {
    margin-bottom: 50px;
  }
  
  .logo-only-icon__icon {
    padding: 20px 13px;
    width: 18%;
    border-radius: 30px;
  }
  
  .main-footer__download-text {
    margin-bottom: 270px;
  }

  .download-text__first-line {
    font-size: 11vw;
  }

  .download-text__second-line {
    font-size: 4.8vw;
  }

  .main-footer__logo {
    margin-top: 40px; 
  }
}



@media (min-width: 961px)  {
  html {
    font-size: 62.5%;
  }
  
  .main-header {
    position: relative;
    background-color: rgba(10, 14, 51, 0.85);
    padding-bottom: 6%;
    padding-top: 2.35%;
  }
  
  .bg-header {
    background: url("../img/football_1920.jpg");
    background-size: cover;
  }
  
  .main-header__logo {
    margin-bottom: 14.5%;
  }

  .logo__icon {
    width: 10%;
    margin-top: 0px;
    margin-left: -12px;
  }
  
  .main-header__slogan {
    margin-bottom: 11.3%;
  }
  
  .slogan__first-line,
  .slogan__second-line {
    
  }
  
  .slogan__first-line {
    margin-left: 9%;
    font-size: 4.6vw;
    letter-spacing: 0.27vw;
  }
  
  .slogan__second-line {
    text-align: right;
    margin-top: 0;
    margin-right: 8%;
    font-size: 4.5vw;
    letter-spacing: 0.36vw;
  }
  
  .main-header__download-btns {
    display: flex;
    justify-content: center;
  }
   
  .download-btn:hover {
    box-shadow: 0 0 3px 3px white;
    cursor: pointer;
  }

  .download-btn:active {
    transform: translateY(3px);
    cursor: pointer;
  }
  
  .athlets {
    position: relative;
    
    padding-top: 4.5%;
    
    background: #fff;
  }
  
  .athlets::after {
    position: absolute;
    top: 0;
    bottom: 5%;
    left: 15%;
    z-index: 2;
    
    content: "";
    width: 40%;
    
    background: url("../img/footballer768.png") no-repeat;
    background-size: contain;
    background-position: center;
  }

  .athlets__title {
    padding-left: 52.5%; 
    font-size: 4.4vw;
  }
  
  .athlets__stage {
    padding: 2.8% 10% 2.4% 53%;
  }
  
  .athlets__stage:nth-child(3) {
    padding-top: 4.2%;
    padding-bottom: 5%;
  }
  
  .players {
    position: relative;
    
    padding-top: 4.5%;
    
    background: #fff;
    background-position: center left;
  }
  
  .players::after {
    position: absolute;
    top: 0;
    bottom: 15%;
    right: 3%;
    
    content: "";
    width: 55%;
    overflow: hidden;
    z-index: 2;
    background: url("../img/player768.png") no-repeat;
    background-size: contain;
    background-position: 5px -30px;
  }
  
  .players__title {
    padding-left: 16.5%; 
    font-size: 4.2vw;
  }
  
  .players__stage {
    padding: 2.8% 50% 3.3% 17%;
  }
  
  .players__stage:nth-child(3) {
    padding-top: 4.6%;
    padding-bottom: 5%;
  }
  
  .stage__title {
    font-size: 2vw;
    letter-spacing: 0.6px;
    padding-left: 1.5vw;
  }

  .stage__text {
    font-size: 1.1vw;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-top: 2%;
    padding-left: 0;
  }
  
  .stage__number {
    font-size: 0.95vw;
    top: 18%; 
    left: 0%;
  }
  
  .advice {
    display: flex;
  }
  
  .advice:nth-child(2) {
    flex-direction: row-reverse;
  }
  
  .advice__image-be-active,
  .advice__image-find-contact,
  .advice__image-work-it { 
    width: 50%;
    overflow: hidden;
  }
  
  
  .advice__image-be-active img,
  .advice__image-find-contact img,
  .advice__image-work-it img {
    max-width: 100%;
  }
  
  .advice__number-wrapper {
    top: 28%;
    left: -8%;

    padding: 6.5% 7.5%;

    font-size: 1.25vw;
  }

  .advice__number {
    border-bottom-width: 5%;
  }
  
  .advice:nth-child(even) .advice__number-wrapper {
    left: auto;
    right: -9%;
  }

  .advice__text {
    width: 50%;
    padding: 8.5% 0 0 6.5%;
  }

  .advice:nth-child(even) .advice__text {
    padding: 9% 0 0 9.5%;
  }
  
  .advice:nth-child(even) .text__title {
    padding: 8% 0 6.5%;
  }
  
  .text__title { 
    padding: 8% 0 10.5%;
    font-size: 4.2vw;
  }
  
  .text__content {
    margin-left: 10px;
    font-size: 1.35vw;
    line-height: 1.1;
  }
  
  .advice:nth-child(even) .text__content {
    padding-right: 40%;
  }
    
  .advice:nth-child(1) .text__content {
    padding-right: 50%;
  }
  
  .advice:nth-child(3) .text__content {
    padding-right: 30%;
  }
  
  .main-footer {
    padding: 11% 18px 2%;
    margin-top: -2px;
    
    position: relative;
    background-color: rgba(10, 14, 51, 0.85);
  }
  
  .bg-footer {
    background: #202346 url("../img/game_1920.jpg");
    background-size: cover;
  }
  
  .main-footer__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .main-footer__logo-only-icon {
    position: absolute;
    top: 3%;
    left: 26%;
  }
  
  .logo-only-icon__icon {
    padding: 1.1vw 1vw;
    width: 7.3vw;
    border-radius: 23%;
  }
  
  .main-footer__download-text {
    margin-left: 8%;
    margin-bottom: 8%;
  }

  .download-text__first-line {
    font-size: 4.1vw;
    letter-spacing: 0.3vw;
  }

  .download-text__second-line {
    font-size: 1.55vw;
    margin-top: -0.9vh;
    text-align: left;
  }

  .main-footer__logo {
    margin-top: 14%; 
  }
}



@media (min-width: 1921px) {
  .slogan__first-line {
    font-size: 8vh;
  }
  
  .slogan__second-line {
    font-size: 8vh;
  }
  
  .text__title {
    font-size: 8vh;
  }
  
  .players {
    overflow: hidden;
  }
  
  .players__stage:nth-child(2) {
    position: relative;
    z-index: 1;
  }

  .players__stage:nth-child(3) {
    position: relative;
    z-index: 1;
  }
  
  .players__stage:nth-child(2)::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -20vw;
    left: -20vw;
    z-index: -1;
        
    background: #f5f4f9;
  }

  .players__stage:nth-child(3)::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -20vw;
    left: -20vw;
    z-index: -1;
    background: #090c35;
  } 
  
  .athlets {
    overflow: hidden;
  }
  
  .athlets__stage:nth-child(2) {
    position: relative;
    z-index: 1;
  }

  .athlets__stage:nth-child(3) {
    position: relative;
    z-index: 1;
  }
  
  .athlets__stage:nth-child(2)::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -20vw;
    left: -20vw;
    z-index: -1;
        
    background: #f5f4f9;
  }

  .athlets__stage:nth-child(3)::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: -20vw;
    left: -20vw;
    z-index: -1;
    background: #5e42b0;
  } 
  
  .logo-only-icon__icon {
    padding: 1.8vh 1.8vh;
    width: 14vh;
    border-radius: 23%;
  }
  
  .download-text__first-line {
    font-size: 7.2vh;
    letter-spacing: 0.3vw;
  }

  .download-text__second-line {
    font-size: 2.8vh;
    margin-top: -0.9vh;
    text-align: left;
  }
}